<h1>Edit Product</h1>

<%= simple_form_for @product, html: {multipart: true} do |f| %>
  <% f.file_field :product_img %>
  <%= f.select :category_id, @categories %>
  <%= f.input :name, label: "Product" %>
  <%= f.input :desc, label: "Description" %>
  <%= f.input :price, placeholder: "please enter in 0.00 format" %>
  <%= f.button :submit %>
<% end %>

<p><%= link_to "Return to product", product_path %></p>
