<h1 class="current-category"><%= params[:category] %></h1>

<% if @products.count == 0 %>
	<h3>There are no products in this category</h3>
<% else %>
	<div class="row">
		<% @products.each do |product| %>
			<div class="col-md-3">
				<a href="/products/ <%= product.id %>">
					<%= image_tag product.product_img.url(:product_index), class: "product" %>
				<br>
				<br>
				<div class="text-centered">
					<p><%= product.name %></p>
					<p>$<%= product.price %></p>
				</div>
				</a>
			</div>
		<% end %>
	</div>
<% end %>
