<h1 class="current-category"><%= params[:category] %></h1>

<% if @products.count == 0 %>
	<h3>There are no products in this category</h3>
<% else %>
	<div class="row">
		<% @products.each do |product| %>
			<div class="col-md-3">
				<div class="text-centered">
					<a href="/products/ <%= product.id %>">
						<%= image_tag product.product_img.url(:product_index), class: "product" %>
					<br>
					<br>
					<p><%= product.name %> | <%= number_to_currency product.price %></p>
					</a>
				</div>
				<div style="text-align: center; margin-top: 5px;">
					<% if current_user && (current_user.admin == false) %>
						<%= form_for @order_item do |f| %>
							<%= f.hidden_field :product_id, value: product.id %>
							<%= f.number_field :quantity %>
							<div><%= f.submit "Add Quantity" %></div>
						<% end %>
					<% end %>
				</div>
				<br>
				<br>
			</div>
		<% end %>
	</div>
<% end %>
