<div class="row">
  <div class="col-md-4">
    <%= image_tag @product.product_img.url(:product_show), class: "product-show" %>
  </div>
  <div class="col-md-8">
    <div class="product-info">
      <h2 class="product-name"><%= @product.name %></h2>
      <h4 class="product-category"><%= @product.category.name %></h4>
      <p class="product-desc"><%= @product.desc %></p>
      <h4 class="avg-rating">Average Rating</h4>
			<div class="average-review-rating" data-score=<%= @average_review %>></div>
			<span class="number-of-reviews"><em>From: </em><%= @product.reviews.count %> reviews </span>
      <p>Cost: $<%= @product.price %></p>
      <!-- 'if @product.user_id == current_user.id' prevents edit/delete from showing up for wrong users -->
      <div class="links btn-group">
        <% if user_signed_in? %>
          <% if @product.user_id == current_user.id %>
            <%= link_to "Edit", edit_product_path(@product) %>
            <%= link_to "Delete", product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="reviews">
      <h1>Reviews</h1>
      <%= render @product.reviews %>
      <div>
        <% if current_user && (current_user.admin == false) %>
          <%= link_to "Add Review", new_product_review_path(@product), class: "btn-custom" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- script is part of jquery.raty; look at '_review.html.erb' for connection -->
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/sc-ratyrate'
  });
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/sc-ratyrate',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>
